{% extends "base.html" %}

{% block title %}انتخاب واحد{% endblock title %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{form_searching.as_p}}
        <button>جستجو</button>
    </form>
    <br><br>
    {% if flag %}
        <h2>درسی پیدا نشد</h2>
    
    {% else %}
        <form method="POST" action="{% url 'website:save' %}">
            {% csrf_token %}
            {{form_choosing.as_p}}
            <button type="submit">انتخاب</button>
        </form>
    {% endif %}
        
{% endblock content %}