{% extends "base.html" %}

{% block title %}detail{% endblock title %}

{% block content %}

    <h2>Reading time: {{post.reading_time}} minutes</h2>

    <h2>description:</h2>
    <h3>{{post.description}}</h3>
    <br><br>

    <h2>engine type:</h2>
    <h3>{{post.engine_type}}</h3>
    <br><br>

    {{post.created}}
    <br><br>
    <a href="{% url "blog:comment" username post.id %}">Add Comment</a>

    <br><br><br><br><br>
    {% if has_accepted_comment %}
        <h2>Comments</h2>
        {% for comments in comment %}
            <h4>
            {{comments.author}}
        </h4>
            {{comments.text}}

        <br><br>
        {% endfor %}
    {% else %}
        <h4>no comments yet</h4>
    {% endif %}
{% endblock content %}