{% extends "base.html" %}
{% load blog_tags %}

{% block title %}detail{% endblock title %}

{% block content %}

    <h2>Reading time: {{post.reading_time}} minutes</h2>

    <h2>description:</h2>
    <h3>{{post.description}}</h3>
    <br><br>

    <h2>engine type:</h2>
    <h3>{{post.engine_type}}</h3>
    <br><br>

    <h4>created at {{post.created}}</h4>
    <br><br>
    <a href="{% url "blog:comment" username post.id %}">Add Comment</a>

    <br><br><br><br><br>
    {%comment_count post as cmm%}

    <h4>{{cmm}} comments</h4>

    {% if has_accepted_comment %}
        <h2>Comments</h2>
        {% for comments in comment %}
            <h4>
                {{comments.author.name}}
            </h4>
            {{comments.text|censore}}

        <br><br>
        {% endfor %}

    {% else %}
        <h4>no comments yet</h4>
    {% endif %}

{% endblock content %}