{% extends "base.html" %}
{% load blog_tags %}

{% block title %}Main page{% endblock title %}

{% block content %}

    {% include "forms\search.html" %}

    <h2>
        <a href="{% url "blog:profile" username%}">profile</a>
        <br><br>
    </h2>
    {% if post %}
        {% for post in post %}
            <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
            <h4>author: {{post.author.name}}</h4>
            <img src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}">
            {% endfor %}

    {% else %}
        <h3>no posts yet</h3>
    {% endif %}
    
    {% include "pagination.html" with page=post%}
    {% comment %} <h3><a href="{% url "blog:signup" %}">sign up</a>
        <br>
        <a href="{% url "blog:login" %}">login</a>
    </h3> {% endcomment %}
    <br><br>
    {% include "tags.html" %}
    <h4>
        <br><br>
        <a href="{% url "blog:ticket" %}">contact us</a>
    </h4>

{% endblock content %}