{% extends "base.html" %}

{% block title %}User Posts{% endblock title %}

{% block content %}

    <h1>Posts</h1>
    <br><br>
    {% if post %}
        <table border="1" cellpadding="10" cellspacing="0" width="50%">
            <tr style="background-color: black; color: white;">
                <th>number</th>
                <th>view post</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            {% for post in post %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{{post.get_absolute_url}}">view</a></td>
                <td><a href="">edit</a></td>
                <td><a href="">delete</a></td>
            </tr>
        </table> 

            {% comment %} <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            <br><br>

            {% if post.images %}
                true 1
                {% if post.images.first.title %}
                    true 2
                    <img src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}">
                {% elif post.images.first.image_file.url %}
                    true 3
                    <img src="{{post.images.first.image_file.url}}" alt="{{post.title}}">
                {% endif %}

            {% else %}
                no images
            {% endif %} {% endcomment %}

            <br><br>
        {% endfor %}

    {% else %}
        <h3>no posts yet</h3>
    {% endif %}
    
{% endblock content %}

