{% extends "base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}

    {% include "forms\search.html" %}

    {{message}}
    
    <h3>
        <a href="{% url "blog:main" %}">back to main page</a>
        <br>
        <a href="{% url "blog:logout" %}">logout</a>
    </h3>
    {% include "post_list.html" with post=post %}
    <br><br>

    <h3>
        <a href="{% url "blog:add post" %}">add post</a>
        <br>
        <a href="{% url "blog:password change" %}">change password</a>
    </h3>

{% endblock content %}